<h1><%= @title %></h1>
<ul>
  <% @comments.each do |comment| %>

    <li data-id="<%= comment.id %>">
      <%= comment.body %>
    </li>
  <% end %>
</ul>
<h2>Add new</h2>
<form method="post" action="/">
  <input type="text" name="body">
  <input type="submit" value="post">
</form>

